.project
.idea/
.idea/vcs.xml
.envrc
.python-version
__pycache__/*
*.py[cod]
gunicorn_logs/
*.db
.DS_Store
.coverage
static_collected/
media/
.~*
*.sqlite3
*.log
env/
static/
*.pyc
celerybeat-schedule